@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-0);
}
:root {
  --color-0: #fff;
  --color-1: #F72585;
  --color-2: #B5179E;
  --color-3: #7209B7;
  --color-4: #560BAD;
  --color-5: #480CA8;
  --color-6: #3A0CA3;
  --color-7: #3F37C9;
  --color-8: #4361EE;
  --color-9: #4CC9F0;
  --color-10: #001219;
  --color-11: #000;
}
.color-1 {
  color:var(--color-6);
  font-weight: 900;
  font-size: 70px;
  line-height: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: var(--color-10);
}
/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  color: var(--color-0);
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to left, var(--color-2), var(--color-8));
}
.nav-logo {
  font-weight: 700;
}
.nav-links {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.nav-btn {
  width: 90px;
  height: 40px;
  color: var(--color-0);
  background-color: inherit;
  border: 2px solid ;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, var(--color-2), var(--color-8));
}